<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0</real>
				<key>Green</key>
				<real>0.847058823529412</real>
				<key>Blue</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>BTProgressHUDDemo</string>
	<key>CFBundleIdentifier</key>
	<string>com.nicewise.btprogresshuddemo</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default-568h@2x.png</string>
	</array>
</dict>
</plist>
